body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
.header-top {
  height: 80px;
  line-height: 80px;
}


ul.navbar-menu li,
ul.navbar-language li {
  display: inline-block;
  padding-right: 10px;
}

/* general main */

main section, footer{
  margin-top:3%;
}

/* 1rem equivale al font specificato nel body,
nel nostro caso 1rem 16px
quindi ad esempio 1.2rem sarà uguale a 16 * 1.2 pixel */

ul.navbar-menu li a,
ul.navbar-language li a {
  color: #343434;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.header-top .logo {
  vertical-align: middle;
}

ul.navbar-language :not(li:last-child) a {
  border-right: 2px solid black;
  padding-right: 10px;
}

/* jumbo */
.jumbo {
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  position: relative;
}

.jumbo h1 {
  font-size: 32px;
}

.jumbo p {
  margin: 10px 0;
}

.jumbo .testo {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  width: 100%;
}

@media screen and (max-width: 992px){
  .jumbo h1 {
    font-size: 26px;
  }
}
/* fine jumbo */
/* inizio prima sezione prodotti */
.go img, .bike img{
  height:400px;
}

#prodotti h2{
  font-weight:600;
}

h3{
  font-weight:500;
}
.col-lg-6 p{
  font-size:15px;
}
.go img{
  margin:auto;
}
/* fine sezione prodotti */
/* inizio sezione steps */
#steps .anziano{
  background-image: url(../img/index-banner.1f6fd0a.jpg);
  height:400px;
  background-size: cover;
  background-repeat:no-repeat;

}
#steps h2{
  font-weight:500;
}

#steps .container .iphone{
  height: 400px;
  margin-top:200px;
}
.sra {
  height:500px;
}
#steps .col-lg-4 {
  position: relative;
}
.testo-how{
  position:absolute;
  bottom:0;
  right:20px;
}
.testo-step{
  position: absolute;
  bottom:0;
  left:20px;
}
/* fine sezione steps */
/* inizio sezione mobility */
.cespuglio{
  background-image:url(../img/scooter.f0a0397.jpg);
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:20%;
}
.ht-mob{
  height:300px;
  border:1px solid black;
}
#mobility .row{
  position:relative;
}
#mobility .text-mobility{
  position:absolute;
  top:90%;
  left:75%;
  transform: translate(-50%, -50%);
  color:white;
  padding-bottom: 80px;
}
.text-mobility a{
  text-decoration: none;
  color:white;
  padding-left: 50px;
}
/* fine sezione mobility */
/* inizio sezione app */
.ht-app{
  height: 300px;
  border:1px solid black;

}
/* .app .row .row [class*="col-"] {
  background-color: green;
} */
.ht-app .row .row{
  padding:30px;
  }

.ph-turin{
  background-image:url(../img/turin.jpg);
  height: 300px;
  background-size: cover;
}

/* fine sezione app */
/* inizio sezione family */
.ph-family{
  background-image:url(../img/family.jpg);
  height:300px;
  background-size:cover;
  background-repeat:no-repeat;

}
.ht-family{
  height: 300px;

}
.riquadro{
  background-color: white;
  height: 100px;
  width: 300px;
}
#family .col-lg-12{
  position: relative;
}
.riquadro, .testo-family {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
#family p{
  padding-bottom:5px;
  font-size: 30px;
}
.fab{
  margin-left: 10px;
  padding-right:15px;
  font-size:20px;
}
/* fine sezione family */
/* inizio footer */
.ph-foot{
  background-color: black;
}

.ht-foot{
  height: 400px;
  border:1px solid green;
}
.ht-nav{
  height:100px;
  border:1px solid yellow;
}
h3{
  font-weight: 500;
}
.box h4, h3{
  padding-top:80px;
  color:white;
  text-transform: uppercase;
}
.box p{
  color:grey;
}
.box h4, p{
  margin-top: 10px;
}
 .box hr{
  margin-top:40px;
  color:grey;
}
.nav-foot .fab{
  margin:40px 0;
  color:white;
}
.nav-foot p{
  margin:40px 0;
  color:white;
}
.nav-foot hr{
margin-bottom: 40px;
}

.badge .col-lg-12{
  position:relative;
}
.google{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  margin-top:80px;
  width: 100%;
  margin-top:0;
}
